.link-images {
    
    width: 80%;
    height: 100%;
    
    
    border: 1px solid black;
    margin-bottom: 1%;
}


body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: lightgray;
    
}

#name {
    width: 100%;
    text-align: center;
    background-color: lightskyblue;
    font-size: 2em;
    border: 5px solid black;
    font-family: 'Lucida Console';
}

#about {
    width: 100%;
    margin-left: 50px;
    
    
}

h2 {
    font-size: 2em;
    font-family: Arial, sans-serif;
}

 


.images {
    width: 30%;
    text-align: center;
    margin-bottom: 3%;
}

div:nth-child(4) {
    
    margin-left: 20%;
    
}
div:nth-child(5) {
    
    margin-right: 20%;
}

#links {
    width: 100%;
    margin-left: 50px;
    
}

#resources {
    width: 100%;
    margin-left: 50px;
}

#interests {
    width: 100%;
    margin-left: 50px;
}

footer {
    width: 100%;
    margin: 50px;
    text-align: center;
}



.list {

    
    flex-basis: 25%;
    
    margin-bottom: 2%;
    border: 2px solid black;
    padding-left: 2%;
    padding-right: 1%;
    padding-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
   
    background-color: lightskyblue;
   

}

#octocat {
    width: 50px;
}

p {
    font-size: 1.5em;
}

footer p {
    font-size: 1.25em;
}

a { 
    color: black; 
    
}

a:hover {
    color: blue;
}

li {
    margin-bottom: 1%;
}

#resource-links {
    font-size: 1.5em;
}

button {
    padding: 20px 50px;
    width: 15%;
    font-size: 1em;
    margin: auto;
    background-color: black;
    color: white;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
   
}

button:hover {
    transform: scale(1.1);
}