.link-images {
    width: 60%;
    height: 12em;
    border: 1px solid black;
    margin-bottom: 1%;
}


body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: lightgray;
    
}

#name {
    width: 100%;
    text-align: center;
    background-color: lightskyblue;
    font-size: 2em;
    border: 5px solid black;
    font-family: 'Lucida Console';
}

#about {
    width: 100%;
    margin-left: 50px;
    
    
}

h2 {
    font-size: 2em;
}


.images {
    width: 30%;
    text-align: center;
    
}

div:nth-child(4) {
    
    margin-left: 20%;
    
}
div:nth-child(5) {
    
    margin-right: 20%;
}

#links {
    width: 100%;
    margin-left: 50px;
    
}

#resources {
    width: 100%;
    margin-left: 50px;
}

#interests {
    width: 100%;
    margin-left: 50px;
}

footer {
    width: 100%;
    margin: 50px;
    text-align: center;
}



.list {
  
   margin-left: 50px;
   margin-right: 50px;
   border: 2px solid black;
   padding: 25px;
   margin-bottom: 20px;
   background-color: lightskyblue;
   
}

#octocat {
    width: 50px;
}

p {
    font-size: 1.5em;
}

footer p {
    font-size: 1.25em;
}

a { 
    color: black; 
    
}

a:hover {
    color: blue;
}

#resource-links {
    font-size: 1.5em;
}